{% comment %}
** Image with text overlay - dynamic **
- Draggable section
{% endcomment %}

{% comment %} Assign object as block or section {% endcomment %}
{% if type == 'block' %}
  {%- assign object = block -%}
{% else %}
  {%- assign object = section -%}
{% endif %}

{%- assign id = object.id -%}
{%- assign blocks = section.blocks -%}

{% comment %} Content settings {% endcomment %}
{%- assign image = object.settings.image -%}
{%- assign pretext = object.settings.pretext -%}
{%- assign title = object.settings.title | escape -%}
{%- assign subtitle = object.settings.subtitle -%}
{%- assign button_arrow_direction = object.settings.button_arrow_direction -%}
{%- assign button1 = object.settings.button1 -%}
{%- assign button1_link = object.settings.button1_link -%}
{%- assign button2 = object.settings.button2 -%}
{%- assign button2_link = object.settings.button2_link -%}
{%- assign sign_text = object.settings.sign_text -%}
{%- assign under_sign_text = object.settings.under_sign_text -%}
{% comment %} End content settings {% endcomment %}

{% comment %} Mobile crop {% endcomment %}
{%- assign mobile_crop = 'mobile-banner--crop-' | append: object.settings.mobile_image_crop -%}

{% comment %} Is the color set to transparent? {% endcomment %}
{%- assign mobile_text_alpha = object.settings.mobile_text_color | color_extract: 'alpha' -%}

{% comment %} Advanced {% endcomment %}
{%- assign css_class = object.settings.css_class -%}
{%- assign custom_css = object.settings.custom_css -%}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
  #banner-{{ object.id }} .pretext {
    color:{{ object.settings.pre_text_color }};
  }
  #banner-{{ object.id }} .headline {
    color:{{ object.settings.heading_color }};
    font-size: {{ object.settings.heading_font_size }}px;
  }
  #banner-{{ object.id }} .subtitle {
    color:{{ object.settings.sub_text_color }};
  }
  #banner-{{ object.id }} .sign-text {
    color:{{ object.settings.sign_text_color }};
  }
  #banner-{{ object.id }} .under-sign-text {
    color:{{ object.settings.under_sign_text_color }};
  }
  #banner-{{ object.id }} .action_button {
    background: {{ object.settings.btn_bg_color }};
    color:{{ object.settings.btn_label_color }};
    border-color:{{ object.settings.btn_bg_color }}
  }
  #banner-{{ object.id }} .action_button:hover {
    background: rgba(0,0,0,0);
    color:{{ object.settings.btn_bg_color }};
    border-color:{{ object.settings.btn_bg_color }}
  }
  @media only screen and (max-width: 480px) {
    #shopify-section-{{ object.id }} .pretext,
    #shopify-section-{{ object.id }} .headline,
    #shopify-section-{{ object.id }} .subtitle,
    .block__{{ object.id }} .pretext,
    .block__{{ object.id }} .headline,
    .block__{{ object.id }} .subtitle {
      color: {% if mobile_text_alpha != 0 %}{{ object.settings.mobile_text_color }}{% endif %};
    }
  }
  @media (min-width: 799px) and (max-width:1024px)  {
    #banner-{{ object.id }} .headline {
      font-size: {{ object.settings.heading_font_size | divided_by: 1.7 }}px;
    }
  }
  @media (min-width: 1025px) and (max-width:1200px)  {
    #banner-{{ object.id }} .headline {
      font-size: {{ object.settings.heading_font_size | divided_by: 1.3 }}px;
    }
  }
{% endstyle %}

<section id="banner-{{ object.id }}" class="section image-with-text-overlay-section {{ css_class }} {% if object.settings.wide_display == false %}is-width-standard{% else %}is-width-wide has-no-side-gutter{% endif %} full-width--{{ object.settings.wide_display }}">
  <div class="container">
    <div class="one-whole column banner">
    {% if image != blank %}
      {% render 'image-element',
              image: image,
              alt: image.alt,
              stretch_width: true,
              additional_classes: mobile_crop
      %}
    {% else %}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--banner' }}
    {% endif %}
    {% unless button1_link != blank and button2_link != blank %}
      {% if button1_link != blank and button1 == blank %}
        <a href="{{ button1_link }}" class="banner-full-link">           
          {{ button1 }}
        </a>
      {% endif %}
      {% if button2_link != blank and button2 == blank %}
        <a href="{{ button2_link }}" class="banner-full-link">
          {{ button2 }}
        </a>
      {% endif %}
    {% endunless %}
    {% unless pretext == blank and title == blank and subtitle == blank and button1 == blank and button2 == blank %}
      <div class="position-{{ object.settings.text_position }} caption js-caption caption--below-{{ object.settings.mobile_text_below_image }}">
        <div class="caption-content caption-background-{{ object.settings.caption_background }} caption-transparency-{{ object.settings.caption_background_transparency }} align-{{ object.settings.text_align }}">
          {% if pretext != blank %}
            <div class="pretext">
              {{ pretext }}
            </div>
          {% endif %}
          {% if title != blank %}
            <h1 class="headline">
              {{ title }}
            </h1>
          {% endif %}
          {% if subtitle != blank %}
            <div class="subtitle">
              {{ subtitle }}
            </div>
          {% endif %}
          {% if button1 != blank %}
            <a {% if button1_link != blank %}href="{{ button1_link }}"{% endif %} class="action_button {{button_arrow_direction}} first_button">
              {% if section.settings.enable_btn_svg %}
                {% if button_arrow_direction == "top-bottom" %}
                  <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.574219" y="0.726562" width="63" height="63" rx="31.5" stroke="#D6C7A3"/>
                    <line x1="32.3047" y1="42.4922" x2="32.3047" y2="21.4922" stroke="#D6C7A3"/>
                    <path d="M22.3114 32.8604L32.2109 42.7599L42.1104 32.8604" stroke="#D6C7A3"/>
                  </svg>
                {% else %}
                <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1.375" y="1.25586" width="63" height="63" rx="31.5" stroke="#D6C7A3"/>
                  <line x1="42.875" y1="32.2559" x2="21.875" y2="32.2559" stroke="#D6C7A3"/>
                  <path d="M33.7432 42.5538L43.6427 32.6543L33.7432 22.7548" stroke="#D6C7A3"/>
                </svg>
                {% endif %}
              {% endif %}
              {{ button1 }}
            </a>
          {% endif %}
          {% if button2 != blank %}
            <a {% if button2_link != blank %}href="{{ button2_link }}"{% endif %} class="action_button second_button">
              {% if section.settings.enable_btn_svg %}
              <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.375" y="1.25586" width="63" height="63" rx="31.5" stroke="#D6C7A3"/>
                <line x1="42.875" y1="32.2559" x2="21.875" y2="32.2559" stroke="#D6C7A3"/>
                <path d="M33.7432 42.5538L43.6427 32.6543L33.7432 22.7548" stroke="#D6C7A3"/>
              </svg>
              {% endif %}
              {{ button2 }}
            </a>
          {% endif %}
          {% if sign_text != blank %}
            <div class="sign-text">
              {{ sign_text }}
            </div>
          {% endif %}
          {% if under_sign_text != blank %}
            <div class="under-sign-text">
              {{ under_sign_text }}
            </div>
          {% endif %}
        </div>
        {% if section.settings.enable_featured_items %}
          <div class="featured-items-container" data-promo-animation="fadeInDown">
            {% if blocks.size > 0 %}
              {% for block in blocks %}
                {%- assign image = block.settings.image -%}
                {%- assign svg = block.settings.custom_svg -%}
                {%- assign item_title = block.settings.item_title -%}
                {%- assign sub_text = block.settings.sub_text -%}
                {%- assign item_link = block.settings.item_link -%}
                {%- assign link_text = block.settings.link_text -%}
                <div id="block--{{block.id}}" class="featured-item promo-animation--true animated fadeInDown">
                  {% if image != blank %}
                    {% render 'image-element',
                            image: image,
                            alt: image.alt,
                            stretch_width: true
                    %}
                  {% elsif custom_svg != blank %}
                    {{ custom_svg }}
                  {% else %}
                    {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                  {% endif %}
                  <div class="text-part">
                    {% if item_title != blank %}
                      {% if item_title != blank %}
                        <h4>{{ item_title }}</h4>
                      {% endif %}
                    {% endif %}
                    {% if sub_text != blank %}
                      <span class="item-sub-text">
                        {{ sub_text }}
                      </span>
                    {% endif %}
                    {% if item_link != blank %}<a class="item-link" href="{{item_link}}">{% endif %}
                        {{ link_text }}
                      {% if item_link != blank %}</a>{% endif %}
                  </div>
                </div>
                <style>
                  #block--{{block.id}} .image-element__wrap {
                    width: {{ block.settings.img_width_px }}px;
                    bottom: {{ block.settings.bottom_percentage }}%;
                  }
                  #block--{{block.id}} > svg {
                    width: {{ block.settings.img_width_px }}px;
                    bottom: {{ block.settings.bottom_percentage }}%;
                  }
                  #block--{{block.id}} .text-part {
                    bottom:{{block.settings.title_bottom_percentage}}%;
                  }
                  #block--{{block.id}} .text-part h4 {
                    color:{{block.settings.title_color }};
                    font-size: {{ block.settings.title_font_size }}px;
                    font-weight:{{block.settings.font_weight}};
                  }
                  #block--{{block.id}} .text-part .item-sub-text {
                    color:{{block.settings.sub_text_color }}
                  }
                </style>
              {% endfor %}
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endunless %}
    </div>
  </div>
</section>
